.card {
	border: 1px solid #d3d3d3;
	border-radius: .25rem;
	height: 400px;
}

.bg-img {
	background-size: cover;
	min-height: 180px;
	background-position: center;
	background-color: #ccc;
}

.card-separator {
	background-size: cover;
	height: 5px;
	background-color: #040469;
}

.content {
	padding: 15px;
}

button {
	background-color: transparent;
	border: 1px solid #2196F3;
	padding: .5rem 1rem;
	cursor: pointer;
	border-radius: .25rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.resume-header {
	text-align: center;
}

.resume-section-header {
	text-align: right;
}

.resume-section-hr {
	margin-top: -15px;
	margin-bottom: 10px;
}

ul.no-bullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.post-excerpt {
	border: 1px solid #d3d3d3;
	border-radius: .25rem;
	height: auto;
}