.card {
	border: 1px solid #000000;
	border-radius: .5rem;
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-img {
	background-size: cover;
	min-height: 180px;
	max-height: 200px;
	border-radius: .25rem;
	background-position: center;
	background-color: #ccc;
}

img {
	border-radius: 5%;
}

.card-separator {
	background-size: cover;
	height: 5px;
	background-color: #040469;
}

.content {
	padding: 15px;
}

button {
	background-color: transparent;
	border: 1px solid #2196F3;
	padding: .5rem 1rem;
	cursor: pointer;
	border-radius: .25rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.resume-header {
	text-align: center;
}

.resume-section-header {
	text-align: right;
}

.resume-section-hr {
	margin-top: -15px;
	margin-bottom: 10px;
}

ul.no-bullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.post-excerpt {
	border: 1px solid #000000;
	border-radius: .5rem;
	height: auto;
	margin-top: -15px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 3px grey;
}

.site-title::before {
	content: url("/assets/img/favicon-32x32.png");
	display: inline-block;
	position: relative;
	width: 35px;
	top: 5px;
}